<div style="width: 100%; max-width: 700px;margin:auto;text-align: center;">
  <div class="post">
    <h1 class="post-title">Title</h1>
    <p class="post-content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lacus nisi, imperdiet in mollis vitae, elementum ut risus. 
    </p>
    <a class="post-read" href="post/1">Read more</a>
  </div>
  <div class="post">
    <h1 class="post-title">Title</h1>
    <p class="post-content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lacus nisi, imperdiet in mollis vitae, elementum ut risus. 
    </p>
    <a class="post-read" href="post/2">Read more</a>
  </div>
</div>