<div style="width: 100%; height: calc(100% - 100px);">
    <div class="container">
        <p style="text-align: center; font-family: 'Calibri';font-size: 1.5em;margin-bottom: 40px;">Edit your post and make it even better...</p>
        <form>
            <div class="input_wrapper"><div class="input_td_div">
                <input style="width: 700px;font-size: 17px;font-weight: bold;" id="title" class="input_td" type="text" name="title" [(ngModel)]='post.title' autocomplete="off" required/>
                <label style="font-weight: bold" class="label_td" for="uname">Title</label>
            </div></div><br/>
            <textarea id="content" [(ngModel)]='post.content' name="content" placeholder="Write your post here"></textarea><br/>
            <div style="display: inline-block;">
              <input class="btn_td" style="background-color: #90CAF9;" type="submit" value="Update" (click) = update()/>
              <input class="btn_td" style="background-color: #FF7043;color: white;margin: auto;" type="button" value="Discard changes and go back" onclick="if(confirm('Your changes will be lost!')) history.back();"/>
            </div>
        </form>
    </div>
    <p>{{status}}</p>
</div>